<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失敗頁面</title>
    <link rel="stylesheet" href="/static/all.css">
</head>
<body>
    <div class="header">
        <h1>失敗頁面</h1>
    </div>
    <div class="main">
        <div class="wrap">
            <p>{{ message }}</p>
            <a href="/">返回登入頁面</a>
        </div>
    </div>
</body>
</html>