<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment - Week 4</title>
    <link rel="stylesheet" href="/static/all.css">
</head>
<body>
    <div class="header">
        <h1>歡迎光臨，請輸入帳號密碼</h1>
    </div>
    <div class="main">
        <div class="wrap">
            <p class="p-b">登入系統</p>
            <form action="/signin" method="post">
                <div class="form-row">
                    <label for="account">帳號</label>
                    <input type="text" name="account" id="account">
                </div>
                <div class="form-row">
                    <label for="password">密碼</label>
                    <input type="text" name="password" id="password">
                </div>
                <div class="form-row">
                    <button>登入</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>